<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Desktop Roomba</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Desktop Roomba&nbsp; 1.0&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a><i class="fa fa-battery-2 fa-lg"></i> <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="#"><i class="fa fa-info"></i>&nbsp; &nbsp;About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-gear"></i>&nbsp;Additional Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 class="text-center text-muted">Welcome Home!</h2>
    <h5></h5>
    <h5></h5>
    <h4>Power&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="/power/1" button class="btn btn-primary {{IsOn}}" type="button" style="color: var(--white);">On    </button></a><a href="/power/0" button class="btn btn-primary {{IsOff}}" type="button" style="color: var(--white);">Off    </button></a>&nbsp;&nbsp;</h4>
    <h5></h5>
    <h4>Cleaning Mode&nbsp;&nbsp; &nbsp; <a href="/mode/1" button class="btn btn-primary {{IsMode1}}" type="button" style="color: var(--white);">Random Pathing</button></a><a href="/mode/0" button class="btn btn-primary {{IsMode0}}" type="button">Spiral Pathing </button></a>&nbsp;&nbsp;</h4>
    <h4>Schedule an Auto-Clean</h4><input class="form-control-lg" type="time">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
